@using RoadRunner.Models
@using Shared.DataTransferObjects
@using System.ComponentModel.DataAnnotations
@using static RoadRunner.Components.Dialogs.RecipeEditorDialog
@implements IDialogContentComponent<RecipeForCreation>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody>

    <EditForm EditContext="@_editContext" FormName="simple_register">
        <DataAnnotationsValidator />

        <FluentStack Orientation="Orientation.Horizontal">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField Name="recipe_name"
                                 @bind-Value="@Content.Name"
                                 Label="Name"
                                 Required />
                <FluentTextField Name="recipe_title"
                                 @bind-Value="@Content.Title"
                                 Label="Title"
                                 Required />

                <FluentTextField Name="recipe_version"
                                 @bind-Value="@Content.VersionNumber"
                                 Label="Version"
                                 Required />

                <FluentCheckbox Name="recipe_valid"
                                @bind-Value="@Content.Valid"
                                Label="Valid" />

                <FluentTextField Name="recipe_batchsize"
                                 @bind-Value="@Content.BatchSize"
                                 Label="Batch Size"
                                 Required />

                <FluentCheckbox Name="recipe_fixedsize"
                                @bind-Value="@Content.FixedBatchSize"
                                Label="Fixed" />

                <FluentTextField Name="recipe_mixtime"
                                 @bind-Value="@Content.MixTime"
                                 Label="Mix Time"
                                 Required />

                <FluentTextField Name="recipe_mixtemperature"
                                 @bind-Value="@Content.MixTemperature"
                                 Label="Mix Temperature"
                                 Required />
            </FluentStack>
            <div style="color: var(--error);">
                <FluentValidationSummary />
            </div>
        </FluentStack>        
    </EditForm>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent"
                  Disabled="@(!_editContext.Validate())"
                  OnClick="@SaveAsync">
        Save
    </FluentButton>
    <FluentButton Appearance="Appearance.Neutral"
                  OnClick="@CancelAsync">
        Cancel
    </FluentButton>
</FluentDialogFooter>

@code {
    private EditContext _editContext = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public RecipeForCreation Content { get; set; } = default!;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Content);
    }

    private async Task SaveAsync()
    {
        if (_editContext.Validate())
        {
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}