@page "/"
@using Entities.Configuration
@using Microsoft.Extensions.Options
@using RoadRunner.Components.Dialogs
@using RoadRunner.Components.Tabs
@using libplctag
@using libplctag.DataTypes
@using RoadRunner.Models

<FluentTabs @bind-ActiveTabId="activeId" OnTabChange="HandleOnTabChange" Size="TabSize.Large" Style="margin-bottom: 12px;">
    <OverviewTabs OnRecipeCreated="HandleRecipeCreated" />
    <RecordsTabs />
    <ProductionTabs />
    <PerformanceTabs />
    <HistoryTabs />
    <ConfigurationTabs />
</FluentTabs>

<FluentDivider />

<FluentGrid AdaptiveRendering="true">
    <FluentGridItem xs="12">
        <FluentDataGrid Items="_jobs" TGridItem="JobModel" ShowHover="true" OnRowClick="HandleRowClick" RowClass="GetRowClass">
            <PropertyColumn Property="@(j => j.JobNumber)" Title="Number" />
            <PropertyColumn Property="@(j => j.Recipe!.Name)" Title="Recipe" />
            <PropertyColumn Property="@(j => j.Destination!.Name)" Title="Destination" />
            <PropertyColumn Property="@(j => j.Status)" Title="Status" />
            <PropertyColumn Property="@(j => j.Created)" Title="Created" />
            <PropertyColumn Property="@(j => j.Tonnage)" Title="Tonnage" />
        </FluentDataGrid>
    </FluentGridItem>

    <!-- Action Buttons -->
    <FluentGridItem xs="12" Justify="JustifyContent.Center" Gap="36px">
        <FluentButton Appearance="Appearance.Outline" Disabled="true">
            <FluentIcon Value="@(new Icons.Regular.Size16.Delete())" Color="Color.Error" Slot="start" />
            Delete Job
        </FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowSync())" Appearance="Appearance.Outline" OnClick="StartMixingAsync">Start Mixing</FluentButton>
        <FluentIcon Value="@(new Icons.Filled.Size24.Alert())" Color="@lampColor" />
    </FluentGridItem>
    <!-- End Action Buttons-->

    <FluentGridItem xs="3">
        <FluentLabel Typo="Typography.Header" Style="margin-bottom: 8px;">Recipes</FluentLabel>
        <FluentListbox TOption="RecipeModel"
                       Items="_recipes"
                       Height="250px"
                       OptionText="@(r => r.Name)"
                       @bind-SelectedOption="_selectedRecipe" />
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentLabel Typo="Typography.Header">@_selectedRecipe?.Name</FluentLabel>
        <FluentLabel Typo="Typography.Subject">@_selectedRecipe?.Title</FluentLabel>
    </FluentGridItem>
    <FluentGridItem xs="4">
        <FluentLabel Typo="Typography.Header" Style="margin-bottom: 8px;">Job Details</FluentLabel>

        <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />

            <FluentSelect Items="_destinations" TOption="DestinationModel"
                          OptionText="@(d => d.Name)"
                          OptionValue="@(d => d.Id.ToString())"
                          @bind-Value="_jobForCreation.DestinationId"
                          Placeholder="Select destination..." />

            <FluentStack Orientation="Orientation.Vertical">
                <div>
                    <FluentTextField @bind-Value="_jobForCreation.JobNumber" Label="Job Number" Required="true" AutoComplete="off" />
                </div>
                <div>
                    <FluentTextField @bind-Value="_jobForCreation.Tonnage" Label="Tonnage" Required="true" AutoComplete="off" />
                </div>
            </FluentStack>

            <div style="margin-top: 12px;">
                <FluentButton Type="ButtonType.Submit" IconStart="@(new Icons.Regular.Size16.Save())" Appearance="Appearance.Outline" Disabled="formInvalid">
                    Add To Queue
                </FluentButton>
            </div>

        </EditForm>
    </FluentGridItem>
</FluentGrid>